<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="todo app" content="todo app for personal usage">
        <meta name="todo" content="todo, task, daily tasks manager">
        <title>ToDo</title>
    </head>
    <body>
    
        {% if request.user.is_authenticated%}
            <p>you are logged in as: {{request.user.username}}</p>
        {%endif%}
        
        <li><a href="{% url 'accounts:logout' %}"><button>Logout</button></a></li>
        <a href="/tasks/category_create/">
            <button style="padding:5px;margin:50px; background-color:aquamarine">category +</button>
        </a>
        <a href="/tasks/create/">
            <button style="padding:5px;margin:50px; background-color:aquamarine">task create +</button>
        </a>
        <ul>
            {% for cat, tasks in user_tasks.items %}
                <li>
                    <h2>{{ cat }}</h2>
                    <ul>
                        {% for item in tasks %}
                            <li>
                                <a href="/tasks/{{ item.pk }}">
                                    {% csrf_token %}
                                    <h3>{{ item.title }} - {{ item.completed }} - {{ item.created_date }}</h3>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
                 
        <script src="your-script.js"></script>
    </body>
</html>
